/* comment */

/* یک تگ اچ تی ام ال میتواند چندین کلاس یا ایدی داشته باشد
<h1 id="h1_id_1  h1_id_2  h1_id_3" class="h1_class_1 "></h1>
<p id="p_id_1" class="p_class_1  p_class_2  p_class_3"></p>          
*/

body {}      /* کل محتوی */

* {}         /* همه تگ ها */

#id {}

.clsss {}

p {}
h1 {}
div {}
span {}
button {}
...  {}

ol {}
ol li {}
ol li a {}

p>a {}

.class_name h2 {}   /* هستند class_name که در h2 فقط تگ های */

--------------------------------------- Pseudo-elements  --------------------------------------------------
--------------------------------------- Pseudo-elements  --------------------------------------------------
/*     بخش خاصی از یک المان را استایل دهی کنی     */
p::before
p::after

p::first-letter {}
p::first-line {}

p::selection


--------------------------------------- Pseudo-class  --------------------------------------------------
--------------------------------------- Pseudo-class  --------------------------------------------------
/*     المان‌هایی را هدف می‌گیرند که در یک حالت خاص قرار دارند، بدون اینکه کلاس واقعی به آن‌ها داده شود     */
p:hover {}
p:focus {}

p:visited {}
p:active {}

p:first-child {}
p:nth-child {}
p:last-child {}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
css {
    direction: ltr rtl;

    color: blue;
    color: #ece;
    color: #eeccee;
    color: rgb(red, green, yellow);
    color: rgb(rgb(200, 100, 100), rgb(200, 100, 100), rgb(200, 100, 100));
    color: rgba(rgb(200, 100, 100), rgb(200, 100, 100), rgb(200, 100, 100), 0.7);


    font-size: 0px;
    font-size: 0ch;
    font-size: 0em;
    font-size: 0ex;
    font-size: 0rem;

    line-height: 20px;

    font-family: sahel, iransans;

    
    /* همه موارد مربوط به بک گراند را شامل میشه */
    background:              url("addres.img") center/cover no-repeat  #ff0022;    //  نمایش داده می‌شود fallback background به‌عنوان  #ff0022  اگر تصویر بارگذاری نشود، رنگ

    
    background-image:        url('addres.img') center/cover no-repeat;             //  فقط تصویر پس‌زمینه رو مشخص می‌کنه
    background-color:        red;
    background-repeat:       repeat no-repeat repeat-x repeat-y;
    background-attachment:   fixed scroll;
    background-position:     center left right top bottom 0px 0px;
    background-size:         cover contain auto;


    /* اگر بدون فراخوانی عکس بود از رنگ های معمولی استفاده کن*/
    /* اگر همراه فراخوانی عکس بود از رنگ های شفاف و کدر استفاده کن*/
    background: linear-gradient(red, blue, gray, green);
    background: linear-gradient(170deg, red, blue, green);
    background: linear-gradient(to left right bottom top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('addres.img');

    
    /*         calc    %      px( ch  em  ex  em )     سه معیاری برای عرض و ارتفاع */
    width: 0px;
    height: 0px;

    width: 0%;
    height: 0%;

    width: calc(20% + 30%);
    height: calc(100% - 0px);


    float: left right;
    text-align: center left right;
    align: center left right;
    text-decoration: none;       /*خط زیر نوشته حذف میشن*/

    
    display: block;
    display: inline-block;
    display: none;

    visibility: hidden;
    opacity: 0 ta 1;
    

    /*  . or #:both;     */

    border: 0px solid red;
    border-top: 0px solid red;
    border-bottom: 0px solid red;
    border-left: 0px solid red;
    border-right: 0px solid red;


    border: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;


    border-radius: 0px;      /* حاشیه گرد میکنه */


    margin: 0auto;       /* ایتم وسط میاد */
    

    margin: 0px;         /*  فاصله تگ از حاشیه  */
    margin: 0px 0px;
    margin: 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;


    padding: 0px;         /*  فاصله نوشته از تگ  */
    padding: 0px 0px;
    padding: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;


    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;


    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;


    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;


    opacity: 0 ta 1;


    box-sizing: border-box;   /*   ( padding  لغو )  با اعمال ان ، به همراه پدینگ ، سایز نهایی با باکس اولیه مساوی میشه*/
    

    z-index: 1;   /* عدد بیشتر اولویت بیشتر */
    z-index: 2;
    z-index: 3;
    
    /*  یعنی انواع ان any
    کردن select سه مدل 

    div : any {}  ;   div : actived {}        div : visited {}      div : hover{}  ;      selector
    div > p  {}   ;                                                                       child selector
    p::any  {}    ;   p::first-letter {}      p::first-line {}                     ;      sodo  selector
    */

    cursor: pointer;  /*با رفتن روی ان کرسر تغییر کرده*/
    

    @media only screen and (max-width:650px) {
    @media only screen and (min-width:650px) {

        #id {
            height: calc(60% - 12px);
            width: calc(100% - 2px);
            float: left;
        }

        .calss {
            height: calc(50% - 12px);
            width: calc(100% - 2px);
            float: left;
        }
    }
    }

/*
    transform   حرکت کردن           transform  : translate - scale - rotate - skew
    transition  انیمسشن             transition : all        ease      0s     0s
    animation   چند انیمشین         animation: identifier   ease      0s     @keyframes identifier {}
*/
    transform: translateX(0px);
    transform: translateY(0px);
    transform: translate(0px, 0px);


    transform: scaleX(number);
    transform: scaleY(number);
    transform: scale(number, number);


    transform: rotateX(0deg);
    transform: rotateY(0deg);
    transform: rotate(0deg) rotate(0deg);


    transform : skewX(0deg);
    transform : skewY(0deg);
    transform : skew(0deg, 0deg);
    /* 

   transition: all     ease      0s   0s;
               height  ease-in   0ms  0ms
               width   ease-out
                       linear

    animation: identifier   ease      0s    infinite both;  برای بینهایت کردن
                            ease-in   0ms   
                            ease-out
                            linear
             
    animation-fill-mode: forwards;  برای فیکس کردن                       
*/


/*
    transform   حرکت کردن           transform  : translate  scale   rotate    skew
    transition  انیمسشن             transition : all     ease      0s   0s
    animation   چند انیمشین         animation: identifier   0s    ease                 @keyframes identifier {}
*/

    @keyframes identifier {
        25% {}

        50% {}

        75% {}
    }


    :root {
        --Danger: red;
    }

    P {
        color: var(--Danger);
    }

    /*برای خطوط*/
    p {
        text-shadow: 0px 0px 0px red;
    }

    /*برای باکس*/
    div {
        box-shadow: 0px 0px 0px 0px red;
    }
}
/*

کار نمیده text-align: center دیگر با اعمال  display: inline-block
*/
/* کلمه important! برای وقتی است که قراره چیزی در اولویت باشه  */
.btn-orange{
    color: orange !important;
    border: 1px solid orange !important;
}
