/*  راهنمایی  */
*  sm - md - lg - xl - 2xl


/*  فرق   @theme    و    root:   */
root {
      global   ( بر روی کل فایل ها اعمال میشه )
}

@theme {
      local   ( بر روی کل فایل ها اعمال میشه )
}



------------------------------------------- Utility -----------------------------------------------------------------
------------------------------------------- Utility -----------------------------------------------------------------

/*  ابزار  */
hover	            @media (hover: hover) { &:hover }
focus         	   &:focus
focus-within	     &:focus-within
focus-visible	     &:focus-visible
active	           &:active
visited	           &:visited
target	           &:target
*	                :is(& > *)
**	              :is(& *)
has-[...]	        &:has(...)
group-[...]	      &:is(:where(.group)... *)
peer-[...]	      &:is(:where(.peer)... ~ *)
in-[...]	        :where(...) &
not-[...]        	&:not(...)
inert	            &:is([inert], [inert] *)
first	            &:first-child
last	            &:last-child
only	            &:only-child
odd              	&:nth-child(odd)
even             	&:nth-child(even)
first-of-type    	&:first-of-type
last-of-type    	&:last-of-type
only-of-type	    &:only-of-type
nth-[...]	        &:nth-child(...)
nth-last-[...]  	&:nth-last-child(...)
nth-of-type-[...]	&:nth-of-type(...)
nth-last-of-type-[...]             	&:nth-last-of-type(...)
empty	            &:empty
disabled        	&:disabled
enabled	          &:enabled
checked	          &:checked
indeterminate   	&:indeterminate
default          	&:default
optional	        &:optional
required        	&:required
valid	            &:valid
invalid	          &:invalid
user-valid	      &:user-valid
user-invalid     	&:user-invalid
in-range	        &:in-range
out-of-range	    &:out-of-range
placeholder-shown	&:placeholder-shown
details-content	  &:details-content
autofill	        &:autofill
read-only        	&:read-only
before	          &::before
after            	&::after
first-letter	    &::first-letter
first-line	      &::first-line
marker          	&::marker, & *::marker
selection        	&::selection
file            	&::file-selector-button
backdrop         	&::backdrop
placeholder	      &::placeholder



sm	      @media (width >= 40rem)
md	      @media (width >= 48rem)
lg	      @media (width >= 64rem)
xl      	@media (width >= 80rem)
2xl	      @media (width >= 96rem)



min-[...]    @media (width >= ...)
max-sm  	   @media (width < 40rem)
max-md	     @media (width < 48rem)
max-lg       @media (width < 64rem)
max-xl	     @media (width < 80rem)
max-2xl       @media (width < 96rem)
max-[...]    @media (width < ...)



@3xs	       @container (width >= 16rem)
@2xs	       @container (width >= 18rem)
@xs	         @container (width >= 20rem)
@sm          @container (width >= 24rem)
@md          @container (width >= 28rem)
@lg	         @container (width >= 32rem)
@xl	         @container (width >= 36rem)
@2xl	       @container (width >= 42rem)
@3xl	       @container (width >= 48rem)
@4xl         @container (width >= 56rem)
@5xl	       @container (width >= 64rem)
@6xl	       @container (width >= 72rem)
@7xl	       @container (width >= 80rem)
@min-[...]	 @container (width >= ...)



@max-3xs	    @container (width < 16rem)
@max-2xs	    @container (width < 18rem)
@max-xs   	  @container (width < 20rem)
@max-sm	      @container (width < 24rem)
@max-md	      @container (width < 28rem)
@max-lg	      @container (width < 32rem)
@max-xl       @container (width < 36rem)
@max-2xl      @container (width < 42rem)
@max-3xl      @container (width < 48rem)
@max-4xl   	  @container (width < 56rem)
@max-5xl      @container (width < 64rem)
@max-6xl  	  @container (width < 72rem)
@max-7xl      @container (width < 80rem)
@max-[...]	  @container (width < ...)



dark	             @media (prefers-color-scheme: dark)
motion-safe 	     @media (prefers-reduced-motion: no-preference)
motion-reduce	     @media (prefers-reduced-motion: reduce)
contrast-more	     @media (prefers-contrast: more)
contrast-less	     @media (prefers-contrast: less)
forced-colors	     @media (forced-colors: active)
inverted-colors	   @media (inverted-colors: inverted)
pointer-fine	     @media (pointer: fine)
pointer-coarse	   @media (pointer: coarse)
pointer-none	     @media (pointer: none)
any-pointer-fine	 @media (any-pointer: fine)
any-pointer-coarse @media (any-pointer: coarse)
any-pointer-none   @media (any-pointer: none)
portrait	         @media (orientation: portrait)
landscape	         @media (orientation: landscape)
noscript	         @media (scripting: none)



print              @media print 
supports-[…]	     @supports (…)



aria-busy            	&[aria-busy="true"]
aria-checked        	&[aria-checked="true"]
aria-disabled	        &[aria-disabled="true"]
aria-expanded	        &[aria-expanded="true"]
aria-hidden	          &[aria-hidden="true"]
aria-pressed	        &[aria-pressed="true"]
aria-readonly	        &[aria-readonly="true"]
aria-required	        &[aria-required="true"]
aria-selected	        &[aria-selected="true"]
aria-[…]	            &[aria-…]
data-[…]	            &[data-…]
rtl                  	&:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *)
ltr                  	&:where(:dir(ltr), [dir="ltr"], [dir="ltr"] *)
open                 	&:is([open], :popover-open, :open)
starting              @starting-style





max-sm	  @media (width < 40rem) { ... }
max-md	  @media (width < 48rem) { ... }
max-lg	  @media (width < 64rem) { ... }
max-xl	  @media (width < 80rem) { ... }
max-2xl	  @media (width < 96rem) { ... }




max-[600px]:bg-sky-300
min-[600px]:bg-sky-300


@container
@container/main                         

                                  
@md:flex-row
@max-md:flex-col
@sm:@max-md:flex-col
                                  
@sm/main:flex-col




/* Using custom container sizes */
@theme {
  --breakpoint-* : initial;
  
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --container-8xl: 96rem;
  
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  
}





/* Container size reference */
// By default, Tailwind includes container sizes ranging from 16rem (256px) to 80rem (1280px):


Variant   	Minimum width	        CSS
@3xs	        16rem (256px)	    @container (width >= 16rem) { … }
@2xs        	18rem (288px)	    @container (width >= 18rem) { … }
@xs	          20rem (320px)    	@container (width >= 20rem) { … }
@sm	          24rem (384px)	    @container (width >= 24rem) { … }
@md	          28rem (448px)    	@container (width >= 28rem) { … }
@lg	          32rem (512px)	    @container (width >= 32rem) { … }
@xl	          36rem (576px)    	@container (width >= 36rem) { … }
@2xl	        42rem (672px)    	@container (width >= 42rem) { … }
@3xl	        48rem (768px)    	@container (width >= 48rem) { … }
@4xl	        56rem (896px)	    @container (width >= 56rem) { … }
@5xl	        64rem (1024px)	  @container (width >= 64rem) { … }
@6xl	        72rem (1152px)	  @container (width >= 72rem) { … }
@7xl	        80rem (1280px)  	@container (width >= 80rem) { … }


------------------------------------------- Dark Mode -----------------------------------------------------------------
------------------------------------------- Dark Mode -----------------------------------------------------------------
                                  
/* Dark mode */
dark:bg-gray-800
dark:text-white
dark:text-gray-400
                         
@custom-variant dark (&:where(.dark, .dark *));


                                  
------------------------------------------- Theme Variables Namespaces -----------------------------------------------------------------
------------------------------------------- Theme Variables Namespaces -----------------------------------------------------------------

Namespace	         Utility classes
                                  
--color-*	         Color utilities like bg-red-500, text-sky-300, and many more
--font-*    	     Font family utilities like font-sans
--text-*	         Font size utilities like text-xl
--font-weight-*	   Font weight utilities like font-bold
--tracking-*	     Letter spacing utilities like tracking-wide
--leading-*	       Line height utilities like leading-tight
--breakpoint-*	   Responsive breakpoint variants like sm:*
--container-*  	   Container query variants like @sm:* and size utilities like max-w-md
--spacing-*   	   Spacing and sizing utilities like px-4, max-h-16, and many more
--radius-*         Border radius utilities like rounded-sm
--shadow-*	       Box shadow utilities like shadow-md
--inset-shadow-*	 Inset box shadow utilities like inset-shadow-xs
--drop-shadow-*  	 Drop shadow filter utilities like drop-shadow-md
--blur-*	         Blur filter utilities like blur-md
--perspective-*	   Perspective utilities like perspective-near
--aspect-*	       Aspect ratio utilities like aspect-video
--ease-*           Transition timing function utilities like ease-out
--animate-*        Animation utilities like animate-spin

                                  
/* Default theme variables */
@layer theme, base, components, utilities;
@import "./theme.css" layer(theme);
@import "./preflight.css" layer(base);
@import "./utilities.css" layer(utilities);



                                  

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  /* ... */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  /* ... */
}


                                  
                                  

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-950: oklch(25.8% 0.092 26.042);

  
  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-950: oklch(26.6% 0.079 36.259);

  
  --color-amber-50: oklch(98.7% 0.022 95.277);
  --color-amber-950: oklch(27.9% 0.077 45.635);

  
  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-950: oklch(28.6% 0.066 53.813);

  
  --color-lime-50: oklch(98.6% 0.031 120.757);
  --color-lime-950: oklch(27.4% 0.072 132.109);

  
  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-950: oklch(26.6% 0.065 152.934);

  
  --color-emerald-50: oklch(97.9% 0.021 166.113);
  --color-emerald-950: oklch(26.2% 0.051 172.552);

  
  --color-teal-50: oklch(98.4% 0.014 180.72);
  --color-teal-950: oklch(27.7% 0.046 192.524);

  
  --color-cyan-50: oklch(98.4% 0.019 200.873);
  --color-cyan-950: oklch(30.2% 0.056 229.695);

  
  --color-sky-50: oklch(97.7% 0.013 236.62);
  --color-sky-950: oklch(29.3% 0.066 243.157);

  
  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-950: oklch(28.2% 0.091 267.935);

  
  --color-indigo-50: oklch(96.2% 0.018 272.314);
  --color-indigo-950: oklch(25.7% 0.09 281.288);

  
  --color-violet-50: oklch(96.9% 0.016 293.756);
  --color-violet-950: oklch(28.3% 0.141 291.089);

  
  --color-purple-50: oklch(97.7% 0.014 308.299);;
  --color-purple-950: oklch(29.1% 0.149 302.717);

  
  --color-fuchsia-50: oklch(97.7% 0.017 320.058);
  --color-fuchsia-950: oklch(29.3% 0.136 325.661);

  
  --color-pink-50: oklch(97.1% 0.014 343.198);
  --color-pink-950: oklch(28.4% 0.109 3.907);

  
  --color-rose-50: oklch(96.9% 0.015 12.422);
  --color-rose-950: oklch(27.1% 0.105 12.094);

  
  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-950: oklch(12.9% 0.042 264.695);

  
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-950: oklch(13% 0.028 261.692);

  
  --color-zinc-50: oklch(98.5% 0 0);
  --color-zinc-950: oklch(14.1% 0.005 285.823);

  
  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-950: oklch(14.5% 0 0);

  
  --color-stone-50: oklch(98.5% 0.001 106.423);
  --color-stone-950: oklch(14.7% 0.004 49.25);

  
  --color-black: #000;
  --color-white: #fff;


  
  /* spacing */
  --spacing: 0.25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-2xl: 96rem;

  

  /* container */
  --container-3xs: 16rem;
  --container-md: 16rem;
  --container-7xl: 80rem;


  
  /* text */
  --text-xs: 0.75rem;
  --text-base: 1rem;
  --text-9xl: 8rem;


  
  /* text- * --line-height */
  --text-xs--line-height: calc(1 / 0.75);
  --text-base--line-height: calc(1.5 / 1);
  --text-9xl--line-height: 1;


  
  /* font-weight-^      ^     ==>>    thin  extralight   light   normal   medium   semibold   bold  xtrabold   black   */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  
  /* tracking-%       %     ==>>    tighter  tight   normal   wide   wider   widest   widest      */
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;



  /* leading-%       %      ==>>     tight     snug     normal     relaxed   loose      */
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;


  
  /* radius */
  --radius-xs: 0.125rem;
  --radius-md: 0.375rem;
  --radius-4xl: 2rem;

  
  /* shadow */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);


  /*  inset-shadow  */
  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);


  /*  drop-shadow  */
  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
  --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);


  /*  text-shadow  */
  --text-shadow-2xs: 0px 1px 0px rgb(0 0 0 / 0.15);
  --text-shadow-md: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1);
  --text-shadow-lg: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);


  
  /*  blur  */
  --blur-xs: 4px;
  --blur-md: 12px;
  --blur-3xl: 64px;


  
  /*  perspective  */
  --perspective-dramatic: 100px;
  --perspective-near: 300px;
  --perspective-normal: 500px;
  --perspective-midrange: 800px;
  --perspective-distant: 1200px;


  
  /* aspect */
  --aspect-video: 16 / 9;

  

  /*  ease  */
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);


  
  /* animate-$          $  ===>>>  spin     ping     pulse     bounce     poppins     */
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  --font-poppins: Poppins, sans-serif;

  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}


                                  

/* Using your theme variables */

:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  /* ... */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  /* ... */
}


------------------------------------------- Color -----------------------------------------------------------------
------------------------------------------- Color -----------------------------------------------------------------


                                  
------------------------------------------- Bootstrap -----------------------------------------------------------------
------------------------------------------- Bootstrap -----------------------------------------------------------------
                               
// link-primary  مخصوص لینک چون رفتار های مخصوص لینک را پشتیبانی میکند
// text-primary  نمیکند


                                  
